.post{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: var(--cardColor);
    border-radius: 1rem;
    gap: 1rem;
}
.post>img{
   
    width: 100%;
    border-radius: 0.5rem;
    object-fit: cover;
    

}
.postReact{
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
}
.detail{
    display: flex;
    gap: 0.5rem;
}